/* Center images */
.center {
    display: block;
    margin: 0 auto;
}

/* Custom button */
.custom_button {
    background: var(--md-primary-fg-color);
    display: block;
    color: #ffffff !important;
    width: 100%;
    text-align: center;
    padding: 15px 20px;
}

.custom_button:hover {
    background-color: var(--md-primary-fg-color--dark);
}

.skill{
    display: inline-block;
    border-radius: 10px;
    background-color: var(--md-primary-fg-color--dark);
    color: white !important;
    padding: 5px 10px;
    margin: 5px;
}

.center-links{
    text-align: center;
    display: block;
}

#video-frame{
    display: block;
    aspect-ratio: 16 /9;
}

:root > * {
    --md-primary-fg-color: #280137;
    --md-primary-fg-color-light: #280137
    --md-primary-fg-color--dark: #010002;
}